## -*- coding: utf-8 -*-
<%inherit file="index_base.html"/>
<%block name="content">
fdsafsafs
</%block>

<%block name="css">
    <style>
    .operation{
        height:30px;
        text-align: center;
        border: 1px solid #E7E7EB;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .promotion{
        border-radius: 3px;
        padding: 2px;
        top:-8px;
        right:-8px;
        position: absolute;
        background:#F01E1E;
        color: white;
    }
    </style>

</%block>

<%block name="js">

</%block>


