## -*- coding: utf-8 -*-
<%inherit file="index_base.html"/>
<%block name="content">


<div>


<div class="">
<div class="input-group col-xs-8">
  <span class="input-group-addon">开始时间</span>
  <input type="text" class="form-control" id="beginDate">
    <span class="input-group-addon">结束时间</span>
  <input type="text" class="form-control" id="endDate">
</div>

<div class="input-group col-xs-8" style="margin-top: 20px">
  <span class="input-group-addon" >二维码类型</span>
  <select class="form-control" name="qrType" id="qrType">
      <option value="0">所有</option>
      % for qr in qrs:
        <option value="${qr[0]}">${qr[0]}</option>
      % endfor
  </select>

  <!--<span class="input-group-addon">系统类型</span>
  <select class="form-control" name="osType" id="osType">
      <option value="0">所有</option>
      <option value="1">Android</option>
      <option value="2">iOS</option>
      -->
  </select>
</div>

    <div class="col-xs-8" style="margin-top: 20px;">
        <button style="float: right;"  type="button" class="btn btn-success" onclick="query()">查询</button>
    </div>

    </div>

    <div style="clear: both"></div>
<div id="results" style="float: left">

</div>


</div>
</%block>

<%block name="css">
    <style>
    .operation{
        height:30px;
        text-align: center;
        border: 1px solid #E7E7EB;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .promotion{
        border-radius: 3px;
        padding: 2px;
        top:-8px;
        right:-8px;
        position: absolute;
        background:#F01E1E;
        color: white;
    }
    </style>

</%block>

<%block name="js">

<script type="text/javascript">
    $('#beginDate').datetimepicker({
          format:'YYYY-MM-DD'
    });
    $('#endDate').datetimepicker({
        format: 'YYYY-MM-DD'
    });
    function query(){
        var beginDate = $("#beginDate").val();
        var endDate = $("#endDate").val();
        var osType = $("#osType").val();
        var qrType = $("#qrType").val();

        $.ajax({
                type: "POST",
                url: "/statistics",
                data: {'beginDate': beginDate, 'endDate':endDate, 'osType': osType, 'qrType': qrType},
                success: function(json){
                    $("#results").html(json);
                },
                error: function(json){
                    alert(json.msg);
                }
            });
    }
</script>
</%block>


